In [1]:
import pandas as pd
import numpy as np
import csv

missing_values = ["-", "--", "?"]

df = pd.read_csv("GBA_data.csv", na_values = missing_values)
df.dropna(how = 'all', inplace = True)

df

,origin,destination,start,end,id,type,subscriber,yob,age,gender
0,316.0,311.0,2022-01-01 00:07:41.040,2022-01-01 00:10:06.241,2473,Concession,No,1957.0,63.0,Male
1,74.0,70.0,2022-01-01 00:07:52.943,2022-01-01 00:19:47.075,2423,Regular,No,1986.0,34.0,Male
2,97.0,125.0,2022-01-01 00:09:31.745,2022-01-01 00:28:43.159,3455,Regular,No,1992.0,28.0,Male
3,11.0,323.0,2022-01-01 00:14:37.187,2022-01-01 00:37:16.445,2173,Ad-Hoc,No,1995.0,25.0,Male
4,17.0,8.0,2022-01-01 00:15:33.369,2022-01-01 00:58:56.522,1788,Regular,Yes,1994.0,26.0,Male
...,...,...,...,...,...,...,...,...,...,...
670004,89.0,30.0,2022-06-18 17:42:34.601,2022-06-18 17:47:38.890,558,Regular,No,1978.0,42.0,Male
670005,113.0,110.0,2022-06-18 17:42:37.555,2022-06-18 17:44:43.645,1243,Regular,No,1988.0,32.0,Male
670006,109.0,121.0,2022-06-18 17:42:44.010,2022-06-18 17:44:31.715,2403,Regular,No,1980.0,40.0,Male
670007,36.0,76.0,2022-06-18 17:42:52.902,2022-06-18 17:59:46.505,2545,Regular,No,1977.0,43.0,Male
670008,NaN,NaN,2022-06-18 17:42:54.106,2022-06-18 17:54:18.615,3767,Regular,No,1991.0,29.0,Male

In [3]:
print(f'Number of NANs in Categories:')
print(df.isnull().sum())

df[df.isnull().any(axis=1)]

Number of NANs in Categories:
origin         504
destination    504
start            0
end              0
id               0
type            10
subscriber       0
yob             10
age             10
gender           3
dtype: int64

,origin,destination,start,end,id,type,subscriber,yob,age,gender
7000,200.0,7.0,2022-01-04 08:20:15.413,2022-01-04 08:31:48.928,666,Regular,No,1977.0,43.0,NaN
7001,27.0,49.0,2022-01-04 08:20:24.228,2022-01-04 08:26:01.187,3623,Regular,No,1983.0,37.0,NaN
7002,200.0,163.0,2022-01-04 08:20:24.595,2022-01-04 08:27:42.796,238,Regular,No,1987.0,33.0,NaN
18000,63.0,40.0,2022-01-09 19:15:27.667,2022-01-09 19:31:14.179,2157,Regular,No,NaN,NaN,Female
18001,127.0,96.0,2022-01-09 19:15:40.572,2022-01-09 19:22:14.166,610,Regular,No,NaN,NaN,Male
...,...,...,...,...,...,...,...,...,...,...
669796,NaN,NaN,2022-06-18 17:29:04.854,2022-06-18 17:39:17.982,4091,Regular,No,1991.0,29.0,Female
669871,NaN,NaN,2022-06-18 17:33:35.380,2022-06-18 17:40:28.946,4131,Regular,No,1970.0,50.0,Male
669891,NaN,NaN,2022-06-18 17:35:09.841,2022-06-18 17:40:36.871,4245,Regular,No,1989.0,31.0,Male
669901,NaN,NaN,2022-06-18 17:35:56.846,2022-06-18 17:41:06.626,4117,Regular,No,1975.0,45.0,Male
670008,NaN,NaN,2022-06-18 17:42:54.106,2022-06-18 17:54:18.615,3767,Regular,No,1991.0,29.0,Male

In [4]:
pip install jupyterlab-link-share

Requirement already satisfied: jupyterlab-link-share in c:\users\marcu\anaconda3\lib\site-packages (0.2.4)
Requirement already satisfied: jupyter-server~=1.11 in c:\users\marcu\anaconda3\lib\site-packages (from jupyterlab-link-share) (1.13.5)
Requirement already satisfied: ipython-genutils in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (0.2.0)
Requirement already satisfied: nbconvert in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (6.4.4)
Requirement already satisfied: tornado>=6.1.0 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (6.1)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (4.9.2)
Requirement already satisfied: nbformat in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (5.3.0)
Requirement already satisfied: packaging in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (21.3)
Requirement already satisfied: pywinpty<2 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (1.1.6)
Requirement already satisfied: jupyter-client>=6.1.1 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (6.1.12)
Requirement already satisfied: Send2Trash in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (1.8.0)
Requirement already satisfied: jinja2 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (2.11.3)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (3.5.0)
Requirement already satisfied: argon2-cffi in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (21.3.0)
Requirement already satisfied: websocket-client in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (0.58.0)
Requirement already satisfied: prometheus-client in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (0.13.1)
Requirement already satisfied: terminado>=0.8.3 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (0.13.1)
Requirement already satisfied: pyzmq>=17 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (22.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: traitlets>=5 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-server~=1.11->jupyterlab-link-share) (5.1.1)
Requirement already satisfied: idna>=2.8 in c:\users\marcu\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.11->jupyterlab-link-share) (3.3)
Requirement already satisfied: sniffio>=1.1 in c:\users\marcu\anaconda3\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.11->jupyterlab-link-share) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-client>=6.1.1->jupyter-server~=1.11->jupyterlab-link-share) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\marcu\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-server~=1.11->jupyterlab-link-share) (302)
Requirement already satisfied: six>=1.5 in c:\users\marcu\anaconda3\lib\site-packages (from python-dateutil>=2.1->jupyter-client>=6.1.1->jupyter-server~=1.11->jupyterlab-link-share) (1.16.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\marcu\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server~=1.11->jupyterlab-link-share) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\marcu\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.11->jupyterlab-link-share) (1.15.0)
Requirement already satisfied: pycparser in c:\users\marcu\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.11->jupyterlab-link-share) (2.21)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\marcu\anaconda3\lib\site-packages (from jinja2->jupyter-server~=1.11->jupyterlab-link-share) (2.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (4.11.1)
Requirement already satisfied: defusedxml in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.7.1)
Requirement already satisfied: testpath in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.1.2)
Requirement already satisfied: pygments>=2.4.1 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (2.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.5.13)
Requirement already satisfied: bleach in c:\users\marcu\anaconda3\lib\site-packages (from nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (4.1.0)
Requirement already satisfied: nest-asyncio in c:\users\marcu\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (1.5.5)
Requirement already satisfied: fastjsonschema in c:\users\marcu\anaconda3\lib\site-packages (from nbformat->jupyter-server~=1.11->jupyterlab-link-share) (2.15.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\marcu\anaconda3\lib\site-packages (from nbformat->jupyter-server~=1.11->jupyterlab-link-share) (4.4.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\marcu\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->jupyter-server~=1.11->jupyterlab-link-share) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\marcu\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->jupyter-server~=1.11->jupyterlab-link-share) (0.18.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\marcu\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (2.3.1)
Requirement already satisfied: webencodings in c:\users\marcu\anaconda3\lib\site-packages (from bleach->nbconvert->jupyter-server~=1.11->jupyterlab-link-share) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\marcu\anaconda3\lib\site-packages (from packaging->jupyter-server~=1.11->jupyterlab-link-share) (3.0.4)